.hymnsContainer{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
  background: var(--fondo);
}
.hymnObtained{
  width: 40rem;
  display: block;
  text-align: center;
  z-index: 1;
}
.hymnObtained p{
  color: var(--text-color);
  font-size: var(--hymn-text-size);
  line-height: 2.2;

}
.hymnObtained .hymnTitle{
  color: var(--main-color);
  font-size: var(--hymn-title-size);
  font-weight: 400;
  padding-bottom: 2rem;
}
.hymnObtained .separators{
  color:var(--main-color);
  font-size: var(--hymn-separator-size);
}
@media (max-width: 400px){
  .hymnObtained{
    width: 90%;
  }
}