:root {
  --keyboard: #07111580;
  --number: #1b2f38;
  --search: #2e1f39;
  --delete: #2d191e;
}
.dark-mode {
  --keyboard: #fff;
  --number: #c3eaff;
  --search: #d8adf9;
  --delete: #ffd0fd;
}
.card_numhim {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--bg-color);
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  padding-top: 1rem;
}
.card_numhim .card-title {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 200;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  margin-top: -12rem;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: var(--keyboard);
  border-left: 0.2px solid rgba(146, 146, 146, 0.2);
  border-top: 0.2px solid rgba(146, 146, 146, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 300ms;
}

#display {
  margin: 0;
  height: 50px;
  width: auto;
  max-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  overflow-x: scroll;
  color: #fff;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}
tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
button {
  height: 65px;
  width: 65px;
  border: 0;
  border-radius: 40px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}
.btn-search {
  font-size: 2.5rem;
  font-weight: 900;
}
.btn-delete {
  font-size: 3rem;
}
.btn-number .btn-delete .btn-search {
  -webkit-tap-highlight-color: transparent;
}
.calculator #display {
  color: var(--text-color);
}

.calculator button.btn-number {
  background-color: var(--number);
  color: var(--text-color);
}

.calculator button.btn-search {
  background-color: var(--search);
  color: #aa00a4;
}
.calculator button.btn-delete {
  background-color: var(--delete);
  color: #bd3740;
}
@media only screen and (max-width: 916px) and (max-height: 429px) and (orientation: landscape) {
  .card_numhim {
    height: 120vh;
  }
  .calculator {
    padding: 5px;
  }
  button {
    height: 50px;
    width: 50px;
  }
  #display {
    height: 40px;
  }
  tr {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  #td-7 { order: 8; }
  #td-8 { order: 9; }
  #td-9 { order: 10; }
  #td-4 { order: 4; }
  #td-5 { order: 5; }
  #td-6 { order: 6; }
  #td-1 { order: 1; }
  #td-2 { order: 2; }
  #td-3 { order: 3; }
  #td-delete { order: 7; }
  #td-0 { order: 11; }
  #td-search { order: 12; }
  .display-screen{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 700px) and (min-height: 1100px) {
  .calculator {
    padding: 50px;
  }
  #display {
    height: 150px;
    width: auto;
    font-size: 50px;
    max-width: 480px;
  }
  button {
    height: 80px;
    width: 80px;
    margin: 20px;
    font-size: 30px;
  }
}