.content{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/portada.jpg);
  background-size: cover;
  background-position: center;
  display: inline-flex;
  justify-content: center;
  padding-top: 14rem;
}
.content:before{
  z-index: 0;
  content: '';
  position: absolute;
  background: var(--fondo);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.options{
  display: block;
  text-align: center;
  z-index: 1;
}
.options h2{
  font-size: 7rem;
  font-family: 'Charm', cursive;
  cursor: pointer;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: -2rem;
  color: var(--main-color);
}
.options p{
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-color);
  padding-bottom: 1rem;
}
.options span{
  font-size: 2rem;
  font-weight: 200;
  color: var(--text-color);
}
.address {
  display: flex;
  flex-direction: column;
}
.address span{
  color: var(--textaddress);
}
.span-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}
.span-container span {
  font-size: 2rem;
  font-weight: 500;
}
.span-container .services {
  color: #C70039;
  text-shadow: 2px 2px 4px #000;
}
.blessing-1 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blessing-1.show {
  opacity: 1;
}
#blessings {
  position: relative;
  height: 100px;
}
#blessings p {
  font-size: 2rem;
  color: var(--blessing);
  filter: drop-shadow(0 4px 6px #5DADE2);
  padding-top: 3rem;
  margin: 0;
}
/* BREAKPOINTS*/
@media (max-width: 600px) {
  .content{
    padding-top: 24rem;
  }
}

@media (max-width: 446px){
  .options h2{
    font-size: 7.3rem;
  }
  .content{
    padding-top: 28rem;
  }
}
@media (max-width: 400px){
  .options h2{
    font-size: 7rem;
  }
  .content{
    padding-top: 27rem;
  }
}
@media (max-width: 320px){
  .options h2{
    font-size: 6rem;
  }
  .content{
    padding-top: 15rem;
  }
  #blessings p{
    font-size: 1.5rem;
  }
}
@media (max-width: 270px){
  .options h2{
    font-size: 5rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 916px) and (max-height: 429px) and (orientation: landscape) {
  .content{
    width: 100%;
    height: 130vh;
    padding-top: 7rem;
  }
  .options{
    margin-bottom: 15rem;
  }
}
@media only screen and (max-width: 916px) and (max-height: 300px) and (orientation: landscape) {
  .content{
    width: 100%;
    height: 160vh;
  }
}
@media only screen and (min-width: 700px) and (min-height: 1100px) {
  .content{
    padding-top: 35rem;
  }
}